.DS_Store
/ontrack/.gwt/
/ontrack/war/application/
/ontrack/application/
/ontrack/war/ROOT.war
/ontrack/war/WEB-INF/deploy/
/ontrack/war/WEB-INF/classes/
/ontrack/target/
/ontrack/extras/
/tools/bin/
/tools/*.mm
/tools/work/
ontrack/gwt-unitCache/
ontrackExtAcceptance/target/
.DS_Store
ontrack/.DS_Store
.metadata/
ontrack/hs_err*.log
