.DS_Store
/ontrack/.gwt/
/ontrack/war/application/
/ontrack/war/ROOT.war
/ontrack/war/WEB-INF/deploy/
/ontrack/war/WEB-INF/classes/
/ontrack/target/
/tools/bin/
/tools/*.mm
/tools/work/
ontrack/gwt-unitCache/
ontrackExtAcceptance/target/