html,body {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	padding: 0px;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	font-weight: 500;
	overflow: hidden;
}

* {
	outline: 0;
}

.reportPanel-root {
	width: 21cm;
	padding: 1cm;
	margin: 0px auto;
	overflow: visible;
	height: auto;
}

@media print {
	.reportPanel-root {
		padding: 0px;
		margin: 0px;

		width: auto;
		min-width: 21cm;
		height: auto;
	}
	
	.reportPanel-burnUp {
/* 		width: 765px; */
/* 		margin: 0px auto; */
	}

}

.reportPanel-burnUp {
/* 	width: 765px; */
/* 	margin: 0px auto; */
}

.hasWarningTips {
	background: #FFE09B;
	border-radius: 2px;
}

.maskPanel {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}

.maskPanelModal {
	background: black;
	opacity: 0.4;
}

/* Cross browser CSS3-based text-overflow (ie6+, firefox, chrome, opera, safari, etc) */
.v-ellip,v\:ellip {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-binding: url( 'bindings.xml#ellipsis' );
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	max-width: 100%;
}

/* Tree */
.gwt-Tree {
	font-family: 'Muli', sans-serif;
}

.gwt-Tree table {
	border-spacing: 2px;
}

.gwt-Tree .gwt-TreeItem {
	height: 21px;
	margin: 1px;
}

.gwt-Tree .gwt-TreeItem>div {
	padding-left: 3px;
}

.gwt-Tree .gwt-TreeItem:hover {
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	margin: 0px;
}

.gwt-Tree .gwt-TreeItem.gwt-TreeItem-selected {
	background-color: #c1e8ee;
	border: 1px solid #4ec6d6;
	margin: 0px;
}

.ScopeTreeItem {
	border: 1px solid transparent;
}

.ScopeTreeItem-selected {
	background-color: #f6f6f6;
	border: 1px solid #e5e5e5;
}

/* Drag n Drop */
.dragdrop-movable-panel {
	cursor: move !important;
}

.dragdrop-positioner {
	background: #cccccc;
	border: 1px #c5c5c5;
}

.kanban .dragdrop-positioner {
	width: 100%;
	min-width: 207px;
	margin-bottom: 3px !important;
}

.scopeWidgetContainer tr:last-child .dragdrop-positioner {
	border-width: 0px !important;
}

.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
	filter: alpha(opacity \= 100);
	opacity: 1;
	border-width: 1px !important;
}

.kanban .dragdrop-selected,.kanban .dragdrop-dragging,.kanban .dragdrop-proxy
	{
	min-width: 207px;
}

.kanbanColumn-draggable-positioner {
	width: 216px !important;
	margin-right: 34px !important;
}

.kanbanColumn.dragdrop-dragging {
	-moz-box-shadow: 2px 4px 10px #999;
	-webkit-box-shadow: 2px 4px 10px #999;
	box-shadow: 2px 4px 10px #999;
	margin-top: -2px;
	margin-left: -1px;
}

.dragdrop-draggable {
	zoom: normal;
}

.gwt-PopupPanel {
	border: 1px solid gray;
	-moz-box-shadow: 2px 2px 4px #888;
	-webkit-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

/* MenuBar */
.gwt-MenuBar {
	
}

.gwt-MenuBar-horizontal {
	
}

.gwt-MenuBar-vertical {
	color: #999999;
	border: none;
	font-family: 'Muli', sans-serif;
	font-size: inherit;
}

.gwt-MenuBar-topMenu {
	box-shadow: -2px 2px 5px #444;
	-moz-box-shadow: -2px 2px 5px #444;
	-webkit-box-shadow: -2px 2px 5px #444;
}

.footerCommandsMenu>div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	width: auto;
}

.footerCommandsMenu img {
	margin-bottom: -2px;
}

.footerCommandsMenu .gwt-MenuBar .gwt-MenuItem {
	border-top: 1px solid #DDD;
	border-bottom: none;
	padding: 5px;
	white-space: nowrap;
	font-size: 9pt;
}

/* SearchScopeResult menu item */
.searchScopeResult-container {
	padding: 3px;
	font-size: 10pt;
}

.searchScopeResult-description {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11pt;
}

.searchScopeResult-partOf {
	margin-left: 25px;
	display: inline;
}

.gwt-MenuBar-vertical>table {
	width: 100%;
	border-spacing: 0px;
}

.gwt-MenuBar .gwt-MenuItem {
	padding: 8px;
	font-weight: normal;
	cursor: pointer;
	color: #999999;
	background: #d1d1d1;
	background-color: #d1d1d1;
	border-top: 1px solid #999;
	white-space: nowrap;
}

.gwt-MenuBar-largePadding .gwt-MenuItem {
	padding: 13px;
}

.gwt-MenuBar-breadcrumb .gwt-MenuItem {
	background: transparent;
	background-color: transparent;
	font-family: 'Muli', sans-serif;
	font-size: 12pt;
	color: #960;
	text-shadow: #F6D792 1px -1px 1px;
	padding: 0px;
	border: 0px;
}

.gwt-MenuBar-topMenu .gwt-MenuItem {
	padding-right: 55px;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background-color: #c1e8ee;
}

.gwt-MenuBar-breadcrumb .gwt-MenuItem-selected {
	background-color: transparent;
}

.gwt-MenuBar-breadcrumb .gwt-MenuItemSeparator {
	width: 5px;
	margin: 0px 5px;
}

.gwt-MenuBar-breadcrumb .gwt-MenuItemSeparator .menuSeparatorInner {
	
}

.gwt-MenuBar .gwt-MenuItemSeparator {
	
}

.gwt-MenuBar .gwt-MenuItemSeparator .menuSeparatorInner {
	
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
	
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	
}

.gwt-MenuBarPopup .menuPopupTopCenterInner {
	
}

.gwt-MenuBarPopup .menuPopupTopRight {
	
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
	
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	
}

.gwt-MenuBarPopup .menuPopupMiddleLeftInner {
	
}

.gwt-MenuBarPopup .menuPopupMiddleCenter {
	
}

.gwt-MenuBarPopup .menuPopupMiddleCenterInner {
	
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	
}

.gwt-MenuBarPopup .menuPopupMiddleRightInner {
	
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
	
}

.gwt-MenuBarPopup .menuPopupBottomCenterInner {
	
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
	
}

/* DatePicker */
.gwt-DatePicker {
	background: #d3d3d3;
	border: 1px solid #999;
	box-shadow: 1px 1px 3px #999;
	padding: 10px;
	-webkit-user-select: none;
}

.datePickerMonthSelector {
	width: 100%;
	text-align: center;
}

.datePickerMonth {
	background: white;
	border: 1px solid #999;
	color: #5c5b5c;
}

.datePickerPreviousButton,.datePickerNextButton {
	cursor: pointer;
	color: #4d5781;
}

.datePickerPreviousButton:HOVER,.datePickerNextButton:HOVER {
	background: #E8E8E8;
}

.datePickerDays {
	border-collapse: collapse;
	text-align: right;
}

.datePickerWeekdayLabel {
	color: #5c5b5c;
	text-align: center;
}

.datePickerWeekendLabel {
	color: #5c5b5c;
	text-align: center;
}

.datePickerDay {
	background: white;
	color: #5c5b5c;
	border: 1px solid #999;
	padding: 1px;
	cursor: default;
}

.datePickerDayIsToday {
	color: #505050;
	font-weight: bold;
}

.datePickerDayIsWeekend {
	background: #E8E8E8;
}

.datePickerDayIsFiller {
	color: #999;
}

.datePickerDayIsValue {
	background: #f5cc6f;
}

.datePickerDayIsDisabled {
	
}

.datePickerDayIsHighlighted {
	background: #E8E8E8;
	color: #4d5781;
}

.datePickerDayIsValueAndHighlighted {
	
}

/* Button */
button {
	
}

button:hover {
	
}

button:active,button:focus {
	
}

button[disabled],button[disabled]:hover,input[disabled],input[disabled]:hover
	{
	
}

/* TextArea */
.gwt-TextBox,.gwt-PasswordTextBox {
	height: 21px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: normal;
	font-size: 13px;
	outline: none;
	border: 1px solid #a5a5a5;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
}

.gwt-TextBox[disabled],.gwt-PasswordTextBox[disabled] {
	opacity: 0.3;
}

.gwt-TextBox:focus,.gwt-PasswordTextBox:focus { /*
	border: 1px solid gray;
	-moz-box-shadow: 0px 0px 5px #a5a5a5;
	-webkit-box-shadow: 0px 0px 5px #a5a5a5;
	box-shadow: 0px 0px 5px #a5a5a5;
	*/
	
}

.gwt-RichTextArea {
	position:relative;
	width: 100%;
	height: 100%;
	border: none;
	
	min-height: 30px;
}

.hasRichTextToolbar {
	border: 1px solid #CCCCCC;
	-webkit-box-shadow: inset 0px 0px 4px #D8D8D8;
	-moz-box-shadow: inset 0px 0px 4px #D8D8D8;
	box-shadow: inset 0px 0px 4px #D8D8D8;
}

.gwt-RichTextToolbar {
	background: #FAFAFA;
	padding: 5px;
	margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
	padding: 2px;
	margin: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
	padding: 2px;
	margin: 0px;
	
	border-radius: 3px;
	border: 1px solid #AEAEAE;
	box-shadow: inset 1px 1px 1px white;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
	padding: 2px;
	margin: 1px;
	
	border-radius: 3px;
	background-color: #E0E0E0;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	padding: 2px;
	margin: 0px;
	
	border-radius: 3px;
	border: 1px solid #AEAEAE;
	box-shadow: inset 1px 1px 1px white;
	
	background-color: #E0E0E0;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
	padding: 2px;
	margin: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
	padding: 2px;
	margin: 0px;
	
	border-radius: 3px;
	border: 1px solid #AEAEAE;
	box-shadow: inset 1px 1px 1px white;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
	padding: 2px;
	margin: 1px;
	
	border-radius: 3px;
	background-color: #E0E0E0;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
	padding: 2px;
	margin: 0px;
	
	border-radius: 3px;
	border: 1px solid #AEAEAE;
	box-shadow: inset 1px 1px 1px white;
	
	background-color: #E0E0E0;
}

.gwt-ToggleButton:hover {
	cursor: pointer;
}

.gwt-PushButton:hover {
	cursor: pointer;
}

.gwt-ListBox:hover {
	cursor: pointer;
}

.cw-RichText {
	border: 1px solid #BBBBBB;
	border-spacing: 0px;
}
