html,body {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	padding: 0px;
	font-family: tahoma, verdana, arial, serif;
	font-size: 14px;
	font-weight: 500;
}

* {
    outline: 0;
}

.popupPanel {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 0px;
	z-index: 2;
}

.maskPanel {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}

.gradAppHeader {
	background-image: linear-gradient(bottom, rgb(82, 80, 82) 21%,
		rgb(94, 93, 94) 73% );
	background-image: -o-linear-gradient(bottom, rgb(82, 80, 82) 21%,
		rgb(94, 93, 94) 73% );
	background-image: -moz-linear-gradient(bottom, rgb(82, 80, 82) 21%,
		rgb(94, 93, 94) 73% );
	background-image: -webkit-linear-gradient(bottom, rgb(82, 80, 82) 21%,
		rgb(94, 93, 94) 73% );
	background-image: -ms-linear-gradient(bottom, rgb(82, 80, 82) 21%,
		rgb(94, 93, 94) 73% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(82,
		80, 82) ), color-stop(0.73, rgb(94, 93, 94) ) );
}

.gradReleaseWidgetHeader {
	background-image: linear-gradient(bottom, rgb(97, 95, 97) 21%,
		rgb(110, 110, 110) 73% );
	background-image: -o-linear-gradient(bottom, rgb(97, 95, 97) 21%,
		rgb(110, 110, 110) 73% );
	background-image: -moz-linear-gradient(bottom, rgb(97, 95, 97) 21%,
		rgb(110, 110, 110) 73% );
	background-image: -webkit-linear-gradient(bottom, rgb(97, 95, 97) 21%,
		rgb(110, 110, 110) 73% );
	background-image: -ms-linear-gradient(bottom, rgb(97, 95, 97) 21%,
		rgb(110, 110, 110) 73% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(97,
		95, 97) ), color-stop(0.73, rgb(110, 110, 110) ) );
}

/* Cross browser CSS3-based text-overflow (ie6+, firefox, chrome, opera, safari, etc) */
.v-ellip,v\:ellip {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-binding: url( 'bindings.xml#ellipsis' );
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	max-width: 100%;
}

/* Tree */
.gwt-Tree {
	font-family: "ProximaNovaRegular";
}

.gwt-Tree table {
	border-spacing: 2px;
}

.gwt-Tree .gwt-TreeItem {
	height: 21px;
    margin: 1px;
}

.gwt-Tree .gwt-TreeItem>div {
	padding-left: 3px;
}

.gwt-Tree .gwt-TreeItem:hover {
	background-color: #F5F5F5;
	border: 1px solid #EEEEEE;
    margin: 0px;
}

.gwt-Tree .gwt-TreeItem.gwt-TreeItem-selected {
	background-color: #ffe8b3;
	border: 1px solid #ddcda7;
    margin: 0px;
}

.ScopeTreeItem {
	border: 1px solid transparent;
}

.ScopeTreeItem-selected {
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
}

/* Drag n Drop */
.dragdrop-positioner {
	border: 0px;
}

.scopeWidgetContainer tr:last-child .dragdrop-positioner {
	border-width: 0px !important;
}

.kanban .dragdrop-positioner {
	width: 100%;
	border: 1px dashed #CFCFCF;
	margin: 1px;
}

.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
	filter: alpha(opacity \= 70);
	opacity: 0.7;
	border-width: 1px !important;
	min-width: 250px;
}

.kanbanColumn.dragdrop-dragging {
    -moz-box-shadow: 3px 2px 4px #bbb;
    -webkit-box-shadow: 3px 2px 4px #bbb;
    box-shadow: 3px 2px 4px #bbb;
    margin-top: -2px;
    margin-left: -1px;
    background-color: #EFEFFF;
}

.dragdrop-draggable {
	zoom: normal;
}

.gwt-PopupPanel {
	border: 1px solid gray;
	-moz-box-shadow: 2px 2px 4px #888;
	-webkit-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

/* MenuBar */
.gwt-MenuBar {
	
}

.gwt-MenuBar-horizontal {
	
}

.gwt-MenuBar-vertical {
	color: #999999;
	background: #FAFAFA;
	background-color: #FAFAFA;
	border: none;
	font-family: 'ProximaNovaRegular';
	font-size: inherit;
}
.gwt-MenuBar-topMenu {
	  box-shadow: -2px 2px 5px #444;
	 -moz-box-shadow: -2px 2px 5px #444;    
	 -webkit-box-shadow: -2px 2px 5px #444;
}

.gwt-MenuBar-vertical>table {
	width: 100%;
	border-spacing: 0px;
}

.gwt-MenuBar .gwt-MenuItem {
	padding: 8px;
	font-weight: normal;
	cursor: pointer;
	color: #999999;
	background: #FAFAFA;
	background-color: #FAFAFA;
	
	border-top: 1px solid white;
	border-bottom: 1px solid #CCCCCC;
}

.gwt-MenuBar-largePadding .gwt-MenuItem {
	padding: 13px;
}

.gwt-MenuBar-breadcrumb .gwt-MenuItem {
	background: transparent;
	background-color: transparent;
}

.gwt-MenuBar-topMenu .gwt-MenuItem {
	padding-right: 55px;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	color: #FAFAFA;
	background-color:#CCC;
	
	border: 1px solid #DADADA;
}

.gwt-MenuBar-breadcrumb .gwt-MenuItem-selected {
	background-color: transparent;
}

.gwt-MenuBar-breadcrumb .gwt-MenuItemSeparator {
	width: 5px;
	margin: 0px 5px;
}

.gwt-MenuBar-breadcrumb .gwt-MenuItemSeparator .menuSeparatorInner {
}

.gwt-MenuBar .gwt-MenuItemSeparator {
	
}

.gwt-MenuBar .gwt-MenuItemSeparator .menuSeparatorInner {
	
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
	
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	
}

.gwt-MenuBarPopup .menuPopupTopCenterInner {
	
}

.gwt-MenuBarPopup .menuPopupTopRight {
	
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
	
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	
}

.gwt-MenuBarPopup .menuPopupMiddleLeftInner {
	
}

.gwt-MenuBarPopup .menuPopupMiddleCenter {
	
}

.gwt-MenuBarPopup .menuPopupMiddleCenterInner {
	
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	
}

.gwt-MenuBarPopup .menuPopupMiddleRightInner {
	
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
	
}

.gwt-MenuBarPopup .menuPopupBottomCenterInner {
	
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
	
}

/* Button */
button {
}

button:hover {
}

button:active, button:focus {
}

button[disabled], button[disabled]:hover, input[disabled], input[disabled]:hover {
}

/* TextArea */
.gwt-TextBox, .gwt-PasswordTextBox  {
	height: 21px;

	padding-top: 3px;
    padding-bottom: 3px;
	font-weight: normal;
	font-size: 13px;
	
	outline: none;
	border: 1px solid #a5a5a5;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
}

.gwt-TextBox[disabled], .gwt-PasswordTextBox[disabled] {
	opacity: 0.3;
}

.gwt-TextBox:focus, .gwt-PasswordTextBox:focus {
	/*
	border: 1px solid gray;
	-moz-box-shadow: 0px 0px 5px #a5a5a5;
	-webkit-box-shadow: 0px 0px 5px #a5a5a5;
	box-shadow: 0px 0px 5px #a5a5a5;
	*/
}