<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- CONSOLE APPENDER - Logs out to the console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- GwtTest Related Log -->
	<logger name="com.octo.gwt.test.internal">
		<level value="ERROR" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<!-- Database Related Log - Logs c3p0 connection pool warnings -->
	<logger name="com.mchange">
		<level value="WARN" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<!-- GWT's JSP Internals Related Log -->
	<logger name="org.apache.jasper">
		<level value="WARN" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<!-- Database Related Log - Log all SQL DML statements as they are executed -->
	<logger name="org.hibernate.SQL">
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<!-- Database Related Log - Log all second-level cache activity -->
	<logger name="org.hibernate.cache">
		<level value="WARN" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<!-- Database Related Log -->
	<logger name="org.hibernate">
		<level value="WARN" />
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<!-- HTTP Client related Log -->
	<logger name="org.apache.http">
		<level value="WARN" />
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<logger name="br.com.oncast.ontrack.server.services.log.RequestLogger">
		<level value="ERROR" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</root>

</log4j:configuration>