/* Color */

@def COLOR_BACKGROUND_PRIMARY #343838;
@def COLOR_BACKGROUND_SECONDARY #FAFAFA;
@def COLOR_BACKGROUND_TERTIARY #444444;
@def COLOR_BACKGROUND_MENUBAR rgba(215,235,255,0.2);
@def COLOR_BACKGROUND_HEADER #D1D1D1;
@def COLOR_BACKGROUND_RELEASE_HEADER #738593;
@def COLOR_BACKGROUND_HEADER_CLOSED #444;
@def COLOR_BACKGROUND_SEARCH #919299;
@def COLOR_BACKGROUND_RELEASE_TAG #005B89;

@def COLOR_TEXT_PRIMARY #FAFAFA;
@def COLOR_TEXT_SECONDARY #666;
@def COLOR_TEXT_TERTIARY #D1D1D1;
@def COLOR_TEXT_MENUBAR #D1D1D1;
@def COLOR_TEXT_HEADER #666;
@def COLOR_TEXT_RELEASE_HEADER #FAFAFA;
@def COLOR_TEXT_HEADER_CLOSED #666;

@def COLOR_HIGHLIGHT_PRIMARY #00B4CC;
@def COLOR_HIGHLIGHT_SECONDARY #00B4CC;
@def COLOR_HIGHLIGHT_TERTIARY #FFF;

@def COLOR_HOVER_PRIMARY #FFF;
@def COLOR_HOVER_SECONDARY #EAEAEA;
@def COLOR_HOVER_TERTIARY #3C5D7C;
@def COLOR_HOVER_4 #FF7F7E;

@def COLOR_ACTIVE_PRIMARY #00DFFC;
@def COLOR_ACTIVE_SECONDARY #008C9E;

@def COLOR_SELECTED_HEADER #B2C9CC;

@def COLOR_DISABLED_PRIMARY #00DFFC;
@def COLOR_DISABLED_SECONDARY #008C9E;

@def COLOR_SUCCESS_PRIMARY #00DFFC;
@def COLOR_SUCCESS_SECONDARY #008C9E;
@def COLOR_SUCCESS_TERTIARY rgb(20, 175, 113);

@def COLOR_WARNING_PRIMARY #00DFFC;
@def COLOR_WARNING_SECONDARY #008C9E;

@def COLOR_ERROR_PRIMARY #CC454E;
@def COLOR_ERROR_SECONDARY #EF4755;

@def COLOR_NEUTRAL_PRIMARY #00DFFC;
@def COLOR_NEUTRAL_SECONDARY #008C9E;

@def COLOR_DETAIL_PRIMARY #FC354C;
@def COLOR_DETAIL_SECONDARY #FC354C;

@def COLOR_BORDER_PRIMARY #666;
@def COLOR_BORDER_SECONDARY #C0C0C0;
@def COLOR_BORDER_MENUBAR #999;
@def COLOR_BORDER_HEADER #bbb;

@def COLOR_BORDER_ACTIVE_PRIMARY #F00;
@def COLOR_BORDER_ACTIVE_SECONDARY #FF0;

@def COLOR_SHADOW_PRIMARY #000;
@def COLOR_SHADOW_SECONDARY #444;
@def COLOR_SHADOW_SELECTED_HEADER #3d93b1;

/* Border */

@def BORDER_PRIMARY 1px solid COLOR_BORDER_PRIMARY;
@def BORDER_SECONDARY 1px solid COLOR_BORDER_SECONDARY;
@def BORDER_MENUBAR 1px solid COLOR_BORDER_MENUBAR;
@def BORDER_HEADER 1px solid COLOR_BORDER_HEADER;

@def BORDER_ACTIVE_PRIMARY 1px solid COLOR_BORDER_ACTIVE_PRIMARY;
@def BORDER_ACTIVE_SECONDARY 1px solid COLOR_BORDER_ACTIVE_SECONDARY;

/* Shadow */

@def SHADOW_PRIMARY 0px 0px 5px COLOR_HIGHLIGHT_PRIMARY;
@def SHADOW_SECONDARY 0px 2px 5px -1px #444;
@def SHADOW_INSET_SECONDARY inset 0px 2px 5px -1px #444;
@def SHADOW_TERTIARY 0px 2px 5px -1px #000;
@def TEXT_SHADOW_TERTIARY 0px 2px 5px #000;
@def SHADOW_ALERT 0px 2px 5px #000;

@def SHADOW_HIGHLIGHT_PRIMARY 0px 0px 5px COLOR_HIGHLIGHT_PRIMARY;
@def SHADOW_HIGHLIGHT_SECONDARY 0px 0px 5px COLOR_HIGHLIGHT_SECONDARY;

@def SHADOW_ACTIVE_PRIMARY 0px 0px 5px COLOR_ACTIVE_PRIMARY;
@def SHADOW_ACTIVE_SECONDARY 0px 0px 5px COLOR_ACTIVE_SECONDARY;
@def SHADOW_SELECTED_HEADER 0 0 5px 1px COLOR_SHADOW_SELECTED_HEADER;
@def SHADOW_INSET_SELECTED_HEADER inset 0 0 5px 1px COLOR_SHADOW_SELECTED_HEADER;


/* Fonts */
@def FONT_ICON_FILL 'IconicFill';

/* Styles */

.humanId {
	background: #C0C0C0;
	color: #fff;
	font-size: 8pt;
	line-height: 16px;

	height: 16px;
	padding: 0px 5px;
	border-radius: 2px;

	cursor: default;
}

.menuBar, .colorMenuBackgroundGradient {
	background: COLOR_BACKGROUND_MENUBAR;
	
	color: COLOR_TEXT_MENUBAR;
	box-shadow: 0px 2px 6px black;
}

.header {
	background: COLOR_BACKGROUND_HEADER;
	color: COLOR_TEXT_HEADER;
	
	box-shadow: SHADOW_SECONDARY;
}

.headerClosed {
	opacity: 0.5;
	box-shadow: none;
}

.headerBar {
	padding: 0px 10px;
	font-size: 14pt;
	color: COLOR_TEXT_PRIMARY;
	background-color: COLOR_BACKGROUND_RELEASE_HEADER;
	line-height: 36px;
}

.popupContainer {
	color: COLOR_TEXT_SECONDARY;
	background-color: COLOR_BACKGROUND_SECONDARY;
	
	box-shadow: SHADOW_SECONDARY;
}

.active, .selected {
	background-color: COLOR_ACTIVE_PRIMARY;
	color: COLOR_TEXT_SECONDARY;
	border: BORDER_ACTIVE_PRIMARY;
}

.activePrimary, .selectedPrimary {
	background-color: COLOR_ACTIVE_SECONDARY;
	box-shadow: SHADOW_ACTIVE_SECONDARY;
	z-index: 1;
	border: 1px solid #888;
}

.menuboxButton {
		background: COLOR_BACKGROUND_TERTIARY;
		
		border: 0px;
		border-radius: 2px;

		color: COLOR_TEXT_TERTIARY;
		font-size: FONT_SIZE_MEDIUM;
		
		padding: 8px;
		width: 100%;
		
		cursor: pointer;
}
.menuboxButton:hover {
	color: COLOR_HIGHLIGHT_TERTIARY;
}

/* Old Styles */

@def COLOR_APP_BACKGROUND #DBDCE1;

@def COLOR_GRAY_LIGHTEST #D3D3D3;
@def COLOR_GRAY_LIGHT #CCCCCC;
@def COLOR_GRAY #999999;
@def COLOR_GRAY_DARK #606060;
@def COLOR_GRAY_DARKEST #444;

@def COLOR_YELLOW #F5CC6F;
@def COLOR_YELLOW_DARK #CC9900;
@def COLOR_YELLOW_DARKEST #996600;

@def COLOR_BLUE_LIGHT #9BA2D2;
@def COLOR_BLUE #4D5781;
@def COLOR_BLUE_DARK #2d4171;

@def COLOR_GREEN #6EB28E;
@def COLOR_GREEN_DARK #44ad85;

@def COLOR_RED #f0542d;

@def COLOR_SEMI_WHITE #FAFAFA;

@def BORDER_DEFAULT 1px solid COLOR_GRAY;

@def PADDING_SMALL 5px;
@def PADDING_MEDIUM 10px;
@def PADDING_LARGE 15px;

@def BORDER_RADIUS_SMALL 2px;

@def FONT_DEFAULT 'Muli', sans-serif;
@def FONT_DEFAULT_ITALIC 'Muli', sans-serif;

@def FONT_SIZE_TINY 9pt;
@def FONT_SIZE_SMALL 10pt;
@def FONT_SIZE_MEDIUM 11pt;
@def FONT_SIZE_LARGE 12pt;

@def TEXT_SHADOW 1px -1px 1px #F6D792;

@def KANBAN_TITLE_TEXT_COLOR #8A8A8A;
@def KANBAN_TITLE_BORDER 1px solid #CACACA;
@def KANBAN_TITLE_BORDER_COLORS #C3C3C3 #CACACA #CACACA #CACACA;
@def KANBAN_TITLE_BACKGROUND_COLOR COLOR_GRAY_LIGHTEST;
@def KANBAN_TITLE_TEXT_SHADOW 1px 1px 1px #ECECEC;
@def KANBAN_TITLE_TEXT_SHADOW_IE literal('dropshadow(color=#ECECEC, offx=1, offy=-1)');
@def KANBAN_TITLE_SHADOW 1px 2px 6px #999;
@def KANBAN_SCOPE_BACKGROUND #FCFCFC;
@def KANBAN_SCOPE_HOVER_BACKGROUND #FEFEFE;

@def OPEN_IMPEDIMENT_COLOR COLOR_RED;
@def SOLVED_IMPEDIMENT_COLOR COLOR_GREEN_DARK;
@def OPEN_IMPEDIMENT_BORDER 5px solid OPEN_IMPEDIMENT_COLOR;
@def SOLVED_IMPEDIMENT_BORDER 5px solid SOLVED_IMPEDIMENT_COLOR;
@def NO_IMPEDIMENT_BORDER 5px solid transparent;

.hoverButton {
	background-position: center;
			
	border: 1px solid transparent;
	
	border-radius: BORDER_RADIUS_SMALL;
	padding: BORDER_RADIUS_SMALL;
}

.hoverButton:HOVER {
	cursor: pointer;
	border-color: #AEAEAE;
	box-shadow: inset 1px 1px 2px #FFF, inset -1px -1px 2px #EEE;
	box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.8), inset -1px -1px 2px rgba(200, 200, 200, 0.8);
}

.hoverButton:disabled {
	opacity: 0.5;
	border: 1px solid transparent;
	box-shadow: none;
	cursor: default;
}

.borderDecoration {
	height: 1px;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	opacity:.8;
	filter: literal('alpha(opacity=80)');
}

.noSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@def TEXTINPUT_COLOR #A8A7A7;
@def TEXTINPUT_SHADOW inset 0px 0px 4px #D8D8D8;
@def TEXTINPUT_BORDER 1px solid COLOR_GRAY_LIGHT;
@def POPUP_PADDING 15px;
@def POPUP_PADDING_NEGATIVE -15px;
@def TEXTBOX_PADDING 5px;

.textBoxDecoration {
	width: 100%;
	
	border: TEXTINPUT_BORDER;
	padding: TEXTBOX_PADDING;
	color: TEXTINPUT_COLOR;
}

/* Component Styles */

@def ALERT_SHADOW 0px 5px 20px #666666;

@def POPUP_SHADOW 1px 5px 10px #999999;
@def POPUP_BORDER 1px solid #DDDDDD;
@def WIDTH_DEFAULT_POPUP 240px;

@def COLOR_MENU_BORDER_TOP #B4AA67;
@def COLOR_MENU_BORDER_BOTTOM #EAE9DE;

@def COLOR_MENU_LINK COLOR_BACKGROUND_PRIMARY;
@def COLOR_MENU_LINK_HOVER COLOR_HOVER_PRIMARY;

@def COLOR_MENUBOX_SEPARATOR_BORDER_TOP COLOR_GRAY_LIGHTEST;
@def COLOR_MENUBOX_SEPARATOR_BORDER_BOTTOM #FFFFFF;
@def COLOR_MENUBOX_BACKGROUND COLOR_SEMI_WHITE;
@def COLOR_MENUBOX_TEXT COLOR_GRAY;
@def COLOR_MENUBOX_BUTTOM_BACKGROUND #F1C663;
@def COLOR_MENUBOX_ITEM_SELECTED COLOR_GRAY_LIGHT;
@def MENUBOX_BUTTOM_SHADOW 1px 1px 3px 0px #DDDDDD, inset -1px -1px 0px 0px #F5D893;
@def MENUBOX_BUTTOM_BORDER 1px solid #CCAF6B;

@def TEXT_SHADOW_ENGRAVED_METAL 1px 1px 1px COLOR_MENUBOX_BACKGROUND;

@def COLOR_RELEASE_WIDGET_BORDER #dedede;
@def RELEASE_WIDGET_BORDER 1px solid COLOR_RELEASE_WIDGET_BORDER;
@def COLOR_RELEASE_WIDGET_HEADER_BACKGROUND_OPENED COLOR_GRAY_LIGHTEST;
@def COLOR_RELEASE_WIDGET_HEADER_BACKGROUND_CLOSED #e2e2e2;
@def COLOR_RELEASE_WIDGET_HEADER_TEXT_OPENED #777777;
@def COLOR_RELEASE_WIDGET_HEADER_TEXT_CLOSED #9b9b9b;
@def RELEASE_WIDGET_HEADER_TEXT_SHADOW 1px 1px 0px #ededed;
@def RELEASE_WIDGET_HEADER_TEXT_SHADOW_IE literal('dropshadow(color=#ededed, offx=1, offy=1)');
@def RELEASE_WIDGET_HEADER_SHADOW_OPENED inset 0px 1px 0px 0px #e9e9e9, 0 2px 6px #e1e1e1;
@def RELEASE_WIDGET_HEADER_SHADOW_CLOSED inset 0px 1px 0px 0px #dedede, 0 2px 6px #e1e1e1;

/* //IMPORTANT SCOPE_WIDGET_BORDER's value is replicated on 'Application.css' at '.dragdrop-positioner' because of a workaround. */
@def SCOPE_WIDGET_BORDER_COLOR #afafaf;
@def SCOPE_WIDGET_BORDER 1px solid SCOPE_WIDGET_BORDER_COLOR;

.semiTransparentContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: COLOR_BACKGROUND_CONTAINER;
    color: COLOR_TEXT_SECONDARY;
}
