/* Base Styles */

@def COLOR_APP_BACKGROUND #DBDCE1;

@def COLOR_GRAY_LIGHT #CCCCCC;
@def COLOR_GRAY #999999;
@def COLOR_GRAY_DARK #606060;

@def COLOR_YELLOW #F5CC6F;
@def COLOR_YELLOW_DARK #CC9900;
@def COLOR_YELLOW_DARKEST #996600;

@def COLOR_BLUE_LIGHT #9BA2D2;
@def COLOR_BLUE #4D5781;

@def COLOR_SEMI_WHITE #FAFAFA;

@def BORDER_DEFAULT 1px solid COLOR_GRAY;

@def PADDING_SMALL 5px;
@def PADDING_MEDIUM 10px;
@def PADDING_LARGE 15px;

@def FONT_DEFAULT 'ProximaNovaRegular';
@def FONT_DEFAULT_ITALIC 'ProximaNovaRegularItalic';

@def FONT_SIZE_TINY 9pt;
@def FONT_SIZE_SMALL 10pt;
@def FONT_SIZE_MEDIUM 11pt;
@def FONT_SIZE_LARGE 12pt;

@def TEXT_SHADOW 1px -1px 1px #F6D792;

@def KANBAN_TITLE_TEXT_COLOR #8A8A8A;
@def KANBAN_TITLE_BORDER 1px solid #CACACA;
@def KANBAN_TITLE_BORDER_COLORS #C3C3C3 #CACACA #CACACA #CACACA;
@def KANBAN_TITLE_BACKGROUND_COLOR #D3D3D3;
@def KANBAN_TITLE_TEXT_SHADOW 1px 1px 1px #ECECEC;
@def KANBAN_TITLE_TEXT_SHADOW_IE literal('dropshadow(color=#ECECEC, offx=1, offy=-1)');
@def KANBAN_TITLE_SHADOW 1px 2px 6px #999;
@def KANBAN_SCOPE_BACKGROUND COLOR_SEMI_WHITE;
@def KANBAN_SCOPE_HOVER_BACKGROUND #FCFCFC;

@def OPEN_IMPEDIMENT_COLOR #f0542d;
@def SOLVED_IMPEDIMENT_COLOR #44ad85;
@def OPEN_IMPEDIMENT_BORDER 5px solid OPEN_IMPEDIMENT_COLOR;
@def SOLVED_IMPEDIMENT_BORDER 5px solid SOLVED_IMPEDIMENT_COLOR;
@def NO_IMPEDIMENT_BORDER 5px solid transparent;



.borderDecoration {
	height: 1px;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	opacity:.8;
	filter: literal('alpha(opacity=80)');
}

.noSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@def TEXTINPUT_COLOR #A8A7A7;
@def TEXTINPUT_SHADOW inset 0px 0px 4px #D8D8D8;
@def TEXTINPUT_BORDER 1px solid COLOR_GRAY_LIGHT;
@def POPUP_PADDING 15px;
@def POPUP_PADDING_NEGATIVE -15px;
@def TEXTBOX_PADDING 5px;
.textBoxDecoration {
	width: 100%;
	
	font-family: FONT_DEFAULT_ITALIC;
	border: TEXTINPUT_BORDER;
	padding: TEXTBOX_PADDING;
	color: TEXTINPUT_COLOR;
	
	-webkit-box-shadow: TEXTINPUT_SHADOW;
	-moz-box-shadow: TEXTINPUT_SHADOW;
	box-shadow: TEXTINPUT_SHADOW;
}

/* Component Styles */

@def ALERT_SHADOW 0px 5px 20px #666666;

@def POPUP_SHADOW 1px 5px 10px #999999;
@def POPUP_BORDER 1px solid #DDDDDD;
@def WIDTH_DEFAULT_POPUP 240px;

@def COLOR_MENU_BORDER_TOP #B4AA67;
@def COLOR_MENU_BORDER_BOTTOM #EAE9DE;

@def COLOR_MENU_LINK COLOR_YELLOW_DARKEST;
@def COLOR_MENU_LINK_HOVER COLOR_YELLOW_DARK;
.colorMenuBackgroundGradient {
	background: #f7cf75;
	background: literal('-moz-linear-gradient(top,  #f7cf75 0%, #f0c662 100%)');
	background: literal('-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7cf75), color-stop(100%,#f0c662))');
	background: literal('-webkit-linear-gradient(top,  #f7cf75 0%,#f0c662 100%)');
	background: literal('-o-linear-gradient(top,  #f7cf75 0%,#f0c662 100%)');
	background: literal('-ms-linear-gradient(top,  #f7cf75 0%,#f0c662 100%)');
	background: literal('linear-gradient(top,  #f7cf75 0%,#f0c662 100%)');
	filter: literal('progid:DXImageTransform.Microsoft.gradient( startColorstr="#f7cf75", endColorstr="#f0c662",GradientType=0 )');
}

@def COLOR_MENUBOX_SEPARATOR_BORDER_TOP #D3D3D3;
@def COLOR_MENUBOX_SEPARATOR_BORDER_BOTTOM #FFFFFF;
@def COLOR_MENUBOX_BACKGROUND COLOR_SEMI_WHITE;
@def COLOR_MENUBOX_TEXT COLOR_GRAY;
@def COLOR_MENUBOX_BUTTOM_BACKGROUND #F1C663;
@def COLOR_MENUBOX_ITEM_SELECTED COLOR_GRAY_LIGHT;
@def MENUBOX_BUTTOM_SHADOW 1px 1px 3px 0px #DDDDDD, inset -1px -1px 0px 0px #F5D893;
@def MENUBOX_BUTTOM_BORDER 1px solid #CCAF6B;

@def TEXT_SHADOW_ENGRAVED_METAL 1px 1px 1px COLOR_MENUBOX_BACKGROUND;

.menuboxButton {
		background: COLOR_MENUBOX_BUTTOM_BACKGROUND;
		
		border: MENUBOX_BUTTOM_BORDER;
		-webkit-box-shadow: MENUBOX_BUTTOM_SHADOW;
		-moz-box-shadow: MENUBOX_BUTTOM_SHADOW;
		box-shadow: MENUBOX_BUTTOM_SHADOW;
		
		color: #FFFFFF;
		font-family: FONT_DEFAULT;
		font-size: FONT_SIZE_MEDIUM;
		
		padding: 8px;
		width: 100%;
}
.menuboxButton:active {
		background: #EDB443;
		background: literal('-moz-linear-gradient(top, #EDB443 1%, #F1C460 100%)');
		background: literal('-webkit-gradient(linear, left top, left bottom, color-stop(1%,#EDB443), color-stop(100%,#F1C460))');
		background: literal('-webkit-linear-gradient(top, #EDB443 1%,#F1C460 100%)');
		background: literal('-o-linear-gradient(top, #EDB443 1%,#F1C460 100%)');
		background: literal('-ms-linear-gradient(top, #EDB443 1%,#F1C460 100%)');
		background: literal('linear-gradient(top, #EDB443 1%,#F1C460 100%)');
		filter: literal('progid:DXImageTransform.Microsoft.gradient( startColorstr="#EDB443", endColorstr="#F1C460",GradientType=0)');
}

@def COLOR_RELEASE_WIDGET_BORDER #C2C2C2;
@def RELEASE_WIDGET_BORDER 1px solid COLOR_RELEASE_WIDGET_BORDER;
@def COLOR_RELEASE_WIDGET_HEADER_BACKGROUND_OPENED #d3d3d3;
@def COLOR_RELEASE_WIDGET_HEADER_BACKGROUND_CLOSED #e2e2e2;
@def COLOR_RELEASE_WIDGET_HEADER_TEXT_OPENED #777777;
@def COLOR_RELEASE_WIDGET_HEADER_TEXT_CLOSED #9b9b9b;
@def RELEASE_WIDGET_HEADER_TEXT_SHADOW 1px 1px 0px #ededed;
@def RELEASE_WIDGET_HEADER_TEXT_SHADOW_IE literal('dropshadow(color=#ededed, offx=1, offy=1)');
@def RELEASE_WIDGET_HEADER_SHADOW_OPENED inset 0px 1px 0px 0px #e9e9e9, 0 2px 6px #e1e1e1;
@def RELEASE_WIDGET_HEADER_SHADOW_CLOSED inset 0px 1px 0px 0px #dedede, 0 2px 6px #e1e1e1;

/* //IMPORTANT SCOPE_WIDGET_BORDER's value is replicated on 'Application.css' at '.dragdrop-positioner' because of a workaround. */
@def SCOPE_WIDGET_BORDER_COLOR #bebebe;
@def SCOPE_WIDGET_BORDER 1px solid SCOPE_WIDGET_BORDER_COLOR;

.popupContainer {
       color: COLOR_MENUBOX_TEXT;
       background-color: COLOR_MENUBOX_BACKGROUND;
       -webkit-box-shadow: POPUP_SHADOW;
       -moz-box-shadow: POPUP_SHADOW;
       box-shadow: POPUP_SHADOW;
       border: POPUP_BORDER;
       border-top: 0px;
}

.semiTransparentContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: COLOR_MENUBOX_BACKGROUND;
    -webkit-box-shadow: POPUP_SHADOW;
    -moz-box-shadow: POPUP_SHADOW;
    box-shadow: POPUP_SHADOW;
    border: POPUP_BORDER;
    
    opacity: 0.8;
    filter: literal('alpha(opacity=80)');
}
