<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- Server push implementation API - GWT-Comet -->
	<!-- Listener for shutting down the comet processor when the ServletContext is destroyed -->
	<listener>
		<listener-class>net.zschech.gwt.comet.server.CometServletContextListener</listener-class>
	</listener>

	<!-- Listener for invalidating CometSessions when HTTPSessions are invalidated -->
	<listener>
		<listener-class>net.zschech.gwt.comet.server.CometHttpSessionListener</listener-class>
	</listener>
	
	<!-- the comet servlet for streaming messages to the client -->
	<servlet>
		<servlet-name>serverPushComet</servlet-name>
		<servlet-class>net.zschech.gwt.comet.server.CometServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serverPushComet</servlet-name>
		<url-pattern>/application/comet</url-pattern>
	</servlet-mapping>
	<!-- End of server push implementation API - GWT-Comet -->
	
    <!-- Filters -->
    <filter>
        <filter-name>requestFilter</filter-name>
        <filter-class>br.com.oncast.ontrack.server.services.httpSessionProvider.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestFilter</filter-name>
        <url-pattern>/application/*</url-pattern>
    </filter-mapping>
    
	<!-- Servlet definitions and mappings -->
	<servlet>
		<servlet-name>requestDispatchService</servlet-name>
		<servlet-class>br.com.oncast.ontrack.server.services.requestDispatch.CommunicationRpcServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestDispatchService</servlet-name>
		<url-pattern>/application/requestDispatchService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MindMapExporterServlet</servlet-name>
		<servlet-class>br.com.oncast.ontrack.server.services.exportImport.MindMapExporterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MindMapExporterServlet</servlet-name>
		<url-pattern>/application/servlet/exporttomindmap</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>

</web-app>
