<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlet definitions and mappings -->
	<servlet>
		<servlet-name>communicationService</servlet-name>
		<servlet-class>br.com.oncast.ontrack.server.services.communication.requestDispatch.CommunicationRpcServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>communicationService</servlet-name>
		<url-pattern>/application/communicationService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MindMapExporterServlet</servlet-name>
		<servlet-class>br.com.oncast.ontrack.server.services.exportImport.MindMapExporterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MindMapExporterServlet</servlet-name>
		<url-pattern>/application/servlet/exporttomindmap</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>

</web-app>
