<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- LISTENERS -->
	<!-- ApplicationInitializationService -->
	<listener>
        <listener-class>br.com.oncast.ontrack.server.services.setup.ApplicationContextListener</listener-class>
    </listener>
	
	<!-- ServerPush Service Listeners -->
	<listener>
		<listener-class>br.com.oncast.ontrack.server.services.serverPush.GwtCometServlet$GwtCometServerHttpSessionListener</listener-class>
	</listener>

	<!-- SERVLET DEFINITIONS AND MAPPINGS -->
	<!-- ServerPush Service Definitions and Mappings -->
	<servlet>
		<servlet-name>serverPushComet</servlet-name>
		<servlet-class>br.com.oncast.ontrack.server.services.serverPush.GwtCometServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serverPushComet</servlet-name>
		<url-pattern>/application/comet</url-pattern>
	</servlet-mapping>

	<!-- RequestDispatch Service Definitions and Mappings -->
	<servlet>
		<servlet-name>requestDispatchService</servlet-name>
		<servlet-class>br.com.oncast.ontrack.server.services.requestDispatch.CommunicationRpcServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestDispatchService</servlet-name>
		<url-pattern>/application/requestDispatchService</url-pattern>
	</servlet-mapping>

	<!-- MindMapExporter Service Definitions and Mappings -->
	<servlet>
		<servlet-name>mindMapExporterServlet</servlet-name>
		<servlet-class>br.com.oncast.ontrack.server.services.exportImport.MindMapExporterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mindMapExporterServlet</servlet-name>
		<url-pattern>/application/mindmap/download</url-pattern>
	</servlet-mapping>

	<!-- SESSION CONFIGURATION -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- DEFAULT PAGE -->
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>
</web-app>
